<div class="jumbotron center">
	<h1> Welcome to Chengtresting</h1>
	<p>
 		<%= link_to "Log IN", "#", class: "btn btn-default btn-lg" %> 
 		<%= link_to "Sign UP", "#", class: "btn btn-primary btn-lg" %> 
	</p>

</div>
