<div class ="jumbotron">
	<h1>Pages#l33t</h1>
	<p>Find me in app/views/pages/l33t.html.erb</p>
	<p>it is are sup3r l33t???? </p>
	<p> This is enabled from Config/routes.rb
</div>
<p>
<h3>The Club is now a jet<span class="label label-danger">JET</span></h3> the club is now a jet </p>
<p>	the club is now a jet <span class="badge">88</span></a></p>
<p> the club is now a jet <span class="glyphicon glyphicon-thumbs-up"</a></p>
	the club is now a jet
	the club is now a jet </p>